<h1>welcome to Bookers !!</h1>

<p>In Bookers,<br>
you can share and exchange your opinions , inpressions , and emotions<br>
about various books!</p>

<%= link_to 'Log_in', '/users/sign_in' %>
<%= link_to 'Sign_Up', '/users/sign_up' %>